/* This is the section for main */

.container{
  min-height:  100vh;
background-color: #221e24;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.Box{
  position:relative;
  top:0%;
  width:100%;
  height:10%;
}


.Box > #outlined-basic{
  color:white;
  background-color:#fff;
  margin: 0 20px 0;
}

.box_tf{
  color:#fff;
  margin:0 20px 0;
}
