/* This is the section for main */

.container{
  min-height:  100vh;
background-color: #221e24;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.Box{
  position:relative;
  top:0%;
  width:100%;
  height:10%;
}
.EndVoting{
 font-family: "Josefin Sans";
 font-weight: 600;
  text-transform: none;
   font-size: 1.3em;
  color: #fff;
  background-color: #f5ba13;
  width: 7%;
  height:7%;
 position: absolute;
left:48%;
top:0%;

}

.leaveAdminButton{
 font-family:Arial, Helvetica, sans-serif;
 text-transform: none;
  font-size: 1.5em;
  font-weight: bold;
 color: #fff;
 background-color: #f5ba13;
 position: absolute;
 top: 0%;
 right:0%;
float:right;
 margin: 1px 1px 0 0;
 width: 7%;
 height:7%;
}

.list_container{
  position:relative;
  left:40%;
  background-color: #000;
  color:#fff;
}
/* .Box > #outlined-basic{
  color:white;
  background-color:#fff;
  margin: 0 20px 0;
} */

.box_tf{
  color:#fff;
  margin-left:16%;
  /* justify-content: center; */
}
