.container{
  min-height:  100vh;

  background-color: #221e24;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.bootstrap_container{
  height:100%;
  padding:0;
}

.transcriptCol {
  flex:1;
  height:100vh;
  justify-content: center;
  flex-direction: column;
  display:flex;
}

.transcript{
  height:50%;
}


/* for the sides module */
.Col{
  flex:1;
  height:100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display:flex;
}
.Col .voteButton{
  position: absolute;
  align-self: flex-end;
  top: 2%;
}

.MuiButton-root.topicButton{
 font-family:Arial, Helvetica, sans-serif;
 text-transform: none;
  font-size: 1.5em;
  font-weight: bold;
 color: #fff;
 background-color: #f5ba13;
 position: absolute;
 top: 0%;
 right:0%;
 margin: 1px 1px 0 0;
 width: 7%;
 height:7%;
}

.adminButton{
 font-family:Arial, Helvetica, sans-serif;
 text-transform: none;
  font-size: 1.5em;
  font-weight: bold;
 color: #fff;
 background-color: #f5ba13;
 position: absolute;
 top: 0%;
 left:0%;
 margin: 1px 1px 0 0;
 width: 7%;
 height:7%;
}

.list_container{
  position:relative;
  top:20%;
  left:5%;
  background-color: #000;
  color:#fff;
}
.side_container{

}
.list li{
    color:#FFFFFF;
}
.joinbutton{
  position:absolute;
  bottom: 20%;
  margin-left: 7em;
}
