/* This is the section for main */

.container{
  min-height:  100vh;

  background-color: #221e24;
/* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */

background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

 .voteButton{
  font-family:Arial, Helvetica, sans-serif;
  text-transform: none;
   font-size: 1.8em;
   font-weight: bold;
  color: #fff;
  background-color: #f5ba13;
  position: absolute;
  top: 0%;
  right:0%;
  float:right;
  margin: 1px 1px 0 0;
  width: 7%;
  height:7%;
}

.createTopic{
  font-family:Arial, Helvetica, sans-serif;
  text-transform: none;
  color: #fff;
  background-color: #f5ba13;
  position: absolute;
  left:18.65%;

}
.topicContainer{
  border-width: 2px;
  border-style:solid;
  border-color: #3C3540;
}

.Autocomplete{
  background-color: #eee;
  border: 3px solid black;
  margin: 3px;;
  position: absolute;
  top:0%;
  left:0%;
  dislay: inline-block;
}

/* .TopicElement{
  position: relative;
  background-color: #ced4da;
  border-radius: 15%;
  width: 150px;
  height: 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
} */


.TopicElement {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}


.TopicElement p {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.TopicElement button {
  position: relative;
  float: right;
  color: #f5ba13;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
}


.deleteElement{
  position: relative;
  top:20%;
  left:70%;
  background-color: #ced4da;
  cursor: pointer;
}
