/* This is the section for main */


.container{
  min-height:  100vh;

  background-color: #221e24;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.rowvote{
  height:25vh;
}
.rowvoteelements{
  height:75vh;
}

.EndVotingDiv{
  display:inline-block;
}
.EndVotingCount{
  font-family: "Helvetica";
 font-weight: bold;
  color: #FFF;
  position:absolute;
  top:9%;
  right:5%;
}
/* For vote elments*/
.vote {

  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
    float: left;
}
/* This is the section for mostVotes */
.values{
  color: #FFF
}
.mostVotCol{
  flex:1;
  height:100vh;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  display:flex;

}
.mostVoteContainer{
  border-style: solid;
  border-width: medium;
  width:300px;
  height:100px;
  padding: .25em;
  display:inline-block;
  position: absolute;
  left:45%;
  top:0%;
}
/* vote display */

.VoteElement {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}


.VoteElement p {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.VoteElement button {
  position: relative;
  float: right;
  color: #f5ba13;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
}

.voteButton{
 font-family:Arial, Helvetica, sans-serif;
 text-transform: none;
  font-size: 1.8em;
  font-weight: bold;
 color: #fff;
 background-color: #f5ba13;
 position: absolute;
 top: 0%;
 right:0%;
 margin: 1px 1px 0 0;
 width: 7%;
 height:7%;
}

.EndVoting{
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 600;
  text-transform: none;
   font-size: 1.3em;
  color: #fff;
  background-color: #f5ba13;
  position: absolute;
  width: 7%;
  height:7%;
 position: absolute;
left:48%;
top:0%;

}
.voteContainer{
 border-width: 2px;
 border-style:solid;
 border-color: #3C3540;
}
